body {
  font-family: sans-serif;
  padding: 20px;
}

.box {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px 0;
}

pre {
  background: black;
  color: lime;
  padding: 10px;
  height: 200px;
  overflow-y: scroll;
  line-height: 1.8;
}

textarea {
  width: 100%;
  height: 40px;
  margin: 5px 0;
}

button {
  padding: 10px;
  cursor: pointer;
}
button:hover {
  background-color: #f0f0f0;
}